discord
discord.py
py-cord

openai==1.2.3
pytz
translate
langdetect
jaconv
pydub
characterai
booru
nltk
websockets
PyNaCl
opencv-python
mtranslate

aiohttp
aiosignal
async-timeout
attrs
certifi
cffi
charset-normalizer
frozenlist
idna
multidict
pycparser
requests
SpeechRecognition
typing_extensions
urllib3
yarl